.modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: lightgray;
}

.moal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 2em 3rem;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
}