label {
    display: inline-block;
    width: 200px;
    text-align: right;
  }

input {
    margin-left: 2px;
    width: 250px;
}

select{
  margin-left: 2px;
  width: 250px;
  height: 20px;
}

button{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: blueviolet;
}

.form-container{
  background-color: rgb(173, 230, 196);
}
